{
  "sentences": 5,
  "max_chars": 0,
  "compress_ratio": 0,
  "mode": "morph",

  "stats": {
    "version": "v1.10"
  },

  "cohesion": [
    "(\\word{0,3}(\\&он|\\&она|\\&оно|\\&они))"
  ],

  "spurious": [
	"(fwd)",
	"(re:)",
	"(\\&благодарю вас за)",
	"(\\&буду рад)",
	"(в данном случае)",
	"(в заключение)",
	"(в общем)",
	"(в ответ на)",
	"(в связи с)",
	"(в соответствии с)",
	"(в том числе)",
	"(в целяx)",
	"(в частности)",
	"(в этой связи)",
	"(в этой ситуации)",
	"(в этом случае)",
    "(вероятно)",
    "(возможно)",
	"(видимо\\s*,* (да|нет))",
	"(должно быть)",
	"(\\&здравствуй)",
	"(иными словами)",
	"(исходя из вышесказанного)",
	"(на основании)",
	"(на основании изложенного)",
	"(надеюсь на)",
	"(напоминаем вам,* что)",
	"(насколько мне известно)",
	"(насколько я понимаю)",
	"(настоящим письмом сообщаем)",
	"(настоящим сообщаем)",
	"(настоящим уведомляем)",
	"(необходимо подчеркнуть)",
	"(ну да)",
	"(ну нет)",
	"(\\&обратить внимание)",
	"(обязательно надо)",
	"(по поводу)",
	"(подводя итоги)",
	"(похоже\\s*,*\\s*что)",
	"(прежде всего)",
	"(\\&прилагать к письму)",
    "(\\&приветствую (тебя|вас)*)",
	"(принимая во внимание)",
	"(\\&приносить извинения за)",
	"(\\&прошу вас предоставить)",
	"(\\&прошу вас сообщить)",
	"(\\&прошу прощения)",
	"(с учетом изложенного)",
	"(согласно вашему запросу)",
	"(также \\&просить)",
	"(таким образом)",
	"(такой ситуации)",
	"(типа того)",
	"(уважаемые коллеги)",
	"(угу)",
	"(учитывая все вышесказанное)",
	"(честно говоря)",
	"(что касается)",
	"(что означает)",
  ],

  "pre-edit": [
	"(привет\\word{0,4}[,.;:!?]*)",
	"(\\&здравствуй\\word{0,4}[,.;:!?]*)",
	"(добрый вечер\\word{0,4}[,.;:!?]*)",
	"(доброе утро\\word{0,4}[,.;:!?]*)",
	"(добрый день\\word{0,4}[,.;:!?]*)",
	"(\\&напомнить\\s*,*\\s*что)",
	"(с уважением\\word{0,50}[,.;:!?]*)",
	"(тем не менее\\s*,*)"
  ],

  "post-edit": [
	"(re:)",
	"(fwd:)",
	"(говорят,*)",
	"(как \\&говорят,*)",
	"(как\\word{0,1}\\&знаем,*)",
	"(как\\word{1,4} ранее,*)",
    "(\\&напомнить\\s*,*\\s*(что){0,1})",
    "(\\&напоминать\\s*,*\\s*(что){0,1})",
	"(однако\\s*,*)",
	"(пожалуйста,{0,1})",
	"(с уважением\\s*,*)",
    "(тем не менее\\s*,*)",
  ],

  "cosa": 0.9,
  "domain_cosa": 0.3,
  "upper_bound": 0.8,
  "max_abstract_sentence_similarity": 0.8,
  "min_abstract_cluster_similarity": 0.2,

  "term_ranks": {
    "punct": 0.01,  /* символы пунктуации */
    "short": 0.1,   /* слова длиной менее 1..2 символа */
    "number": 0.6
  },

  "logger": {
    "sinks": [{
      "module": "csummerize-http-server",
      "type": "stream",
      "uri": "console",
      "level": "trace",
      "formatter": {
        "type": "json"
      }
   }]
  }
}
